@import "../../styles/variables";

.list {
  .highlight {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    .card-title {
      margin: unset;
    }

    .summary {
      font-size: $font-size-small;
      color: $font-light;
    }
  }

  .weather-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .left-info {
      align-items: center;
      display: flex;

      .weather-temperature {
        display: flex;
        .temp {
          font-size: $font-size-very-large;
        }
        .scale {
          font-size: $font-size-small;
          color: $font-light;
        }
      }
    }

    .right-info {
      align-items: center;
      display: flex;
      flex-direction: column;
      font-size: $font-size-small;
      color: $font-light;
    }
  }

  .time-selector {
    display: flex;
    overflow: scroll;

    button {
      background-color: $tab-bg-color;
      border: none;
      border-radius: 20px;
      color: $tab-color;
      cursor: pointer;
      display: inline-block;
      margin: 3px;
      padding: 15px 20px;
      text-align: center;
      text-decoration: none;
    }
  }

  .weather-footer {
    display: flex;
    font-size: $font-size-base;
    margin-top: 25px;
    overflow-x: scroll;
  }
}

@media (min-width: $desktop) {
  .list {
    margin: auto;
    max-width: 650px;
  }

  .time-selector {
    justify-content: center;
  }
}
