body {
  height: 100%;
  margin: 0;
  font-family: Barlow, sans-serif;
}

a {
  color: black;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.footer {
  background-color: antiquewhite;
  margin-top: 40px;
}
