$primary-color: black;
$white: #fff;
$border-color: #dfe1e5;
$hover: #f3f3f3;
$bg-light: #fbfbfb;
$bg-dark: #f3f3f3;

$font-size-base: 14px !default;
$font-size-very-large: ceil(($font-size-base * 4.3)) !default; // ~60px
$font-size-large: ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small: ceil(($font-size-base * 0.85)) !default; // ~12px
$font-size-small-mobile: ceil(($font-size-base * 0.71)) !default; // ~10px
$font-size-very-small: ceil(($font-size-base * 0.5)) !default; // ~7px

$font-size-h1: floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2: floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3: ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4: ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5: $font-size-base !default;
$font-size-h6: ceil(($font-size-base * 0.85)) !default; // ~12px

$font-light: #777777;
$font-dark: #202224;

$box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

$tab-bg-color: #fdf3c7;
$tab-color:  #b55813;

$gap: 32px;
$desktop: 960px+ (2 * $gap);
