.search-page {
  margin: 20px;

  .search-header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 40px;

    .logo {
      animation: fromLeftToRight 1s;
      margin-bottom: 20px;
      max-width: 300px;
    }

    @keyframes fromLeftToRight {
      0% {
        opacity: 0;
        transform: translateX(-120px);
      }

      100% {
        opacity: 100;
        transform: translate(0px);
      }
    }
  }
}
