@import "../../styles/variables";

.search-form {
  align-items: center;
  padding: 0px 14px;
  background: $white;
  border: 1px solid $border-color;
  box-shadow: none;
  border-radius: 24px;
  height: 44px;
  max-width: 584px;
  width: 100%;
  position: relative;

  .loading {
    position: absolute;
    top: 0px;
    right: 21px;
    width: 55px;
  }
}

.search-list {
  background-color: $white;
  border: 1px solid $border-color;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  left: 1px;
  list-style: none;
  padding: 0;
  position: absolute;
  top: 40px;
  width: 100%;
}

.search-item-result {
  padding: 10px;
  cursor: pointer;
  &:hover {
    background-color: $hover;
  }
}

.search {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  height: 40px;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  font-size: 16px;
  width: 100%;
}

.not-found {
  font-size: $font-size-small;
  color: red;
  margin-top: 10px;
  position: absolute;
}